/* STYLINGS FOR INFOBANNER */

#infobanner {
  background-color: #89023d;
  display: flex;
  justify-content: center;
  height: 30px;
}
#infobanner p {
  color: #fff;
  margin: 0;
  align-self: center;
}

/* STYLING FOR NAVBAR */

#navItems {
  display: flex;
}

.searchBox {
  display: inline-flex !important;
  align-self: flex-end !important;
}

/*STYLING FOR HOMEPAGE*/

#banner {
  background-image: url(./images/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#header {
  color: whitesmoke;
  margin-top: 60px;
}

#text {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 100vh;
  font-size: large;
}

/* STYLING FOR FOOTER */

#footer {
  background-color: #89023d;
  margin: 0 !important;
  max-width: 100% !important;
  align-items: center;
}

#footerContent table {
  margin-left: 5%;
}

#footerContent th {
  text-decoration: underline;
}

#footerContent a {
  color: #fff;
  text-decoration: none;
}

#footerContent a:hover {
  color: #590127;
}

#footerContent img {
  align-self: center;
  margin-left: auto;
  height: 100px;
  width: auto;
}

#footerBottom,
#footerBottom p {
  margin: 0;
  text-align: center;
}
