/* STYLINGS FOR INFOBANNER */

#infobanner {
  background-color: #89023d;
  display: flex;
  justify-content: center;
  height: 30px;
}
#infobanner p {
  color: #fff;
  margin: 0;
  align-self: center;
}

/* STYLING FOR NAVBAR */
.navbar-collapse {
  max-width: max-content;
}

#navItems {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.nav-item {
  list-style: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchBox {
  width: 206px;
}

.searchBox button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/*STYLING FOR HOMEPAGE*/
#banner {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  color: whitesmoke;
  margin-top: 10vh;
  font-size: 3rem;
}

#text {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 15vh;
  font-size: large;
  font-weight: 500;
}

/* STYLING FOR FOOTER */

#footer {
  background-color: #89023d;
  margin: 0 !important;
  max-width: 100% !important;
  align-items: center;
}

#footerContent table {
  margin-left: 5%;
}

#footerContent th {
  text-decoration: underline;
}

#footerContent a {
  color: #fff;
  text-decoration: none;
}

#footerContent a:hover {
  color: #590127;
}

#footerContent img {
  align-self: center;
  margin-left: auto;
  height: 100px;
  width: auto;
}

#footerBottom,
#footerBottom p {
  margin: 0;
  text-align: center;
}

/* STYLING FOR PRODUCT PAGE */

#product-header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
}

#product-brand {
  padding-right: 10px;
}

img {
  max-width: 100%;
}

#product-data {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#product-price {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0.5em;
}

#product-stock {
  padding-right: 1.5em;
}

#product-description {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#add-to-cart-button,
#signin-button {
  background-color: #89023d;
  border-style: none;
}

body {
  overflow-x: hidden;
}

.disc-properties {
  margin-left: 1em;
}

/* STYLING FOR ALL SHOWBAGS/SHOWDISCS/SEARCHRESULTS */

.items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 2em;
}

.list-group-item {
  padding: 0 !important;
}

.item {
  width: 15em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px 0px #ccc;
}

.item-heading {
  margin: 1em;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  margin: 1em;
  font-weight: 500;
}

.item-image {
  width: 150px;
}

/* STYLING FOR SHOPPING CART */

.cart {
  width: 150px;
  padding: 10px;
  padding-bottom: 30px;
}

.cartimage {
  height: 50px;
  padding-right: 30px;
}

/* STYLING FOR ADMIN PANEL */

.admin-dropdown-item {
  padding: 0.5em 1em;
  user-select: none;
  font-weight: 500;
  color: white;
}

.admin-dropdown-item:hover {
  background-color: #555555;
}

.admin-dropdown-item:active {
  background-color: #666666;
}

/* STYLING FOR COMPANY PAGE */
.companyPage {
  margin-bottom: 5em;
}

.company {
  text-align: center;
}

.companyTitle {
  padding-top: 2em;
}

.companyImage {
  padding-top: 2em;
  display: inline-block;
  padding-bottom: 4em;
}

/* STYLING FOR TERMS PAGE */
.terms {
  margin-top: 5em;
  margin-bottom: 5em;
}

/* STYLING FOR MOBILE */

@media screen and (max-width: 768px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-sm,
  .navbar > .container-md {
    align-items: flex-start !important;
    flex-direction: column;
  }
  .navbar {
    min-height: 100px;
    align-items: flex-start !important;
  }

  .navbar-collapse {
    max-width: min-content;
  }
  #navItems {
    position: absolute;
    right: 15px;
    top: 0;
  }

  .products {
    margin: 0 1em 1em;
  }
}

#login-modal-toggle:focus {
  box-shadow: none !important;
}
