/* STYLINGS FOR INFOBANNER */

#infobanner {
  background-color: #89023d;
  display: flex;
  justify-content: center;
  height: 30px;
}
#infobanner p {
  color: #fff;
  margin: 0;
  align-self: center;
}

/* STYLING FOR NAVBAR */

#navItems {
  display: flex;
}

.searchBox {
  margin-left: 1em;
  display: inline-flex !important;
  align-self: flex-end !important;
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    max-width: fit-content;
  }
}

#login-modal-toggle:focus {
  box-shadow: none !important;
}

/*STYLING FOR HOMEPAGE*/

#banner {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  color: whitesmoke;
  margin-top: 10vh;
  font-size: 3rem;
}

#text {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 15vh;
  font-size: large;
  font-weight: 500;
}

.productOfTheMonth {
  display: inline-block;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

/* STYLING FOR FOOTER */

#footer {
  background-color: #89023d;
  margin: 0 !important;
  max-width: 100% !important;
  align-items: center;
}

#footerContent table {
  margin-left: 5%;
}

#footerContent th {
  text-decoration: underline;
}

#footerContent a {
  color: #fff;
  text-decoration: none;
}

#footerContent a:hover {
  color: #590127;
}

#footerContent img {
  align-self: center;
  margin-left: auto;
  height: 100px;
  width: auto;
}

#footerBottom,
#footerBottom p {
  margin: 0;
  text-align: center;
}

/* STYLING FOR PRODUCT PAGE */

#product-header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
}

#product-brand {
  padding-right: 10px;
}

img {
  max-width: 100%;
}

#product-data {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#product-price {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0.5em;
}

#product-stock {
  padding-right: 1.5em;
}

#product-description {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#add-to-cart-button, #signin-button{
  background-color: #89023d;
  border-style: none;
}

body {
  overflow-x: hidden;
}

.disc-properties {
  margin-left: 1em;
}

/* STYLING FOR ALL SHOWBAGS/SHOWDISCS/SEARCHRESULTS */

.items {
  display: inline-block;
  padding: 10px;
  width: 250px;
}
.items p {
  margin: 20px;
}
.image_150px {
  height: 150px;
}

/* STYLING FOR SHOPPING CART */

.cart {
  width: 150px;
  padding:10px;
  padding-bottom: 30px;
}

.cartimage {
  height: 50px;
  padding-right: 30px;
}
/* STYLING FOR USERPAGE */

/* STYLING FOR ADMIN PANEL */

.admin-dropdown-item {
  padding: 0.5em 1em;
  user-select: none;
  font-weight: 500;
  color: white;
}

.admin-dropdown-item:hover {
  background-color: #555555;
}

.admin-dropdown-item:active {
  background-color: #666666;
}

/* STYLING FOR COMPANY PAGE */
.companyPage {
  margin-bottom: 5em;
}

.company {
  text-align: center;
}

.companyTitle {
  padding-top: 2em;
}

.companyImage {
  padding-top: 2em;
  display: inline-block;
  padding-bottom: 4em;
}

/* STYLING FOR TERMS PAGE */
.terms {
  margin-top: 5em;
  margin-bottom: 5em;
}